*{
    margin: 0; 
    padding: 0; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {

}

.navegation {
    width: 1000px; 
    margin: 30px auto;
    background: silver; 
}

.navegation ul{
    list-style: none; 
}

.menu > li{
    /*position: relative;*/
    display: inline-block; 
}

.menu > li > a {
    display: block; 
    padding: 15px 20px; 
    color: #353335; 
    font-family: 'Open sans';
    text-decoration: none; 
}

.menu li a:hover{
    color: green;
    transition: all .3s; 
}

.submenu{
    position: absolute; 
    background: silver; 
    width: 150px; 
    display: none;

}

.submenu li a{
    display: block; 
    padding: 15px; 
    color: #353335; 
    font-family: 'Open Sans'; 
    text-decoration: none; 
}
.menu li:hover .submenu{
    display: block;    
}

li b{
    
    margin-left: 300px;
    color: #353335;
    font-family: 'Open Sans';



}