*{
    margin: 0; 
    padding: 0; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
}

.buscador {
    width: 1000px; 
    margin: 30px auto;
    background: silver; 
    padding: 0;
    margin-left: 183px;
    margin-top: -4px;
}

.buscador ul{
    list-style: none; 
}


.menu1 > li{
    /*position: relative;*/
    display: inline-block; 
}

.menu1 > li > label {
    display: block; 
    padding: 15px 20px; 
    color: #353335; 
    font-family: 'Open sans';
    text-decoration: none; 
}

.menu1 li label:hover{
    color: green;
    transition: all .3s; 
}


.navegation {
    width: 1000px; 
    margin: 30px auto;
    background: silver; 
    padding: 0;
    margin-left: 183px;
}

.navegation ul{
    list-style: none; 
}

.menu > li{
    /*position: relative;*/
    display: inline-block; 
}

.menu > li > a {
    display: block; 
    padding: 15px 20px; 
    color: #353335; 
    font-family: 'Open sans';
    text-decoration: none; 
}

.menu li a:hover{
    color: green;
    transition: all .3s; 
}

.submenu{
    position: absolute; 
    background: silver; 
    width: 150px; 
    display: none;

}

.submenu li a{
    display: block; 
    padding: 15px; 
    color: #353335; 
    font-family: 'Open Sans'; 
    text-decoration: none; 
}
.menu li:hover .submenu{
    display: block;    
}

li b{
    
    margin-left: 300px;
    color: #353335;
    font-family: 'Open Sans';
}
.slider {
    
    width: 95%;
    margin: auto; 
    padding: 0;
    overflow: hidden; 
    margin-top: -30px;
   
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%; 
    animation: cambio 20s infinite; 
    animation-direction: alternate; 
}
.slider li {
    width: 100%; 
    list-style: none;
}
.silder img {
    width: 100%;
}
 @keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -132%}
    45% {margin-left: -132%}
    50%{margin-left: -267%}
    70% {margin-left:-267%}
 }

